-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: chazinfood
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `categoriainsumo`
--

DROP TABLE IF EXISTS `categoriainsumo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `categoriainsumo` (
  `idCategoriaInsumo` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `descripcion` varchar(255) DEFAULT NULL,
  `estado` tinyint(4) DEFAULT 1,
  PRIMARY KEY (`idCategoriaInsumo`),
  UNIQUE KEY `UK_CategoriaInsumo` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categoriainsumo`
--

LOCK TABLES `categoriainsumo` WRITE;
/*!40000 ALTER TABLE `categoriainsumo` DISABLE KEYS */;
INSERT INTO `categoriainsumo` VALUES (1,'Panader├¡a y Masas','Panes artesanales y bases',1),(2,'L├ícteos y Quesos','Quesos cheddar, mozzarella y mantequillas',1),(3,'Vegetales y Frescos','Lechuga, tomate, cebolla y papas',1),(4,'Salsas y Aderezos','Salsas de la casa, mayonesa y aderezos',1),(5,'Bebidas Embotelladas','Gaseosas y aguas',1),(6,'Verduras Especiales',NULL,1),(7,'Salsas y Condimentos',NULL,1),(8,'Carnes','Res, Cerdo, Frias',1),(9,'C├írnicos y Prote├¡nas','Carnes de res, pollo, salchichas y tocinetas',1),(10,'testeo','test',1);
/*!40000 ALTER TABLE `categoriainsumo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categoriaproducto`
--

DROP TABLE IF EXISTS `categoriaproducto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `categoriaproducto` (
  `idCategoriaProducto` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `descripcion` varchar(255) DEFAULT NULL,
  `estado` tinyint(4) DEFAULT 1,
  `icon` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`idCategoriaProducto`),
  UNIQUE KEY `UK_CategoriaProducto` (`nombre`),
  UNIQUE KEY `nombre` (`nombre`),
  UNIQUE KEY `nombre_2` (`nombre`),
  UNIQUE KEY `nombre_3` (`nombre`),
  UNIQUE KEY `nombre_4` (`nombre`),
  UNIQUE KEY `nombre_5` (`nombre`),
  UNIQUE KEY `nombre_6` (`nombre`),
  UNIQUE KEY `nombre_7` (`nombre`),
  UNIQUE KEY `nombre_8` (`nombre`),
  UNIQUE KEY `nombre_9` (`nombre`),
  UNIQUE KEY `nombre_10` (`nombre`),
  UNIQUE KEY `nombre_11` (`nombre`),
  UNIQUE KEY `nombre_12` (`nombre`),
  UNIQUE KEY `nombre_13` (`nombre`),
  UNIQUE KEY `nombre_14` (`nombre`),
  UNIQUE KEY `nombre_15` (`nombre`),
  UNIQUE KEY `nombre_16` (`nombre`),
  UNIQUE KEY `nombre_17` (`nombre`),
  UNIQUE KEY `nombre_18` (`nombre`),
  UNIQUE KEY `nombre_19` (`nombre`),
  UNIQUE KEY `nombre_20` (`nombre`),
  UNIQUE KEY `nombre_21` (`nombre`),
  UNIQUE KEY `nombre_22` (`nombre`),
  UNIQUE KEY `nombre_23` (`nombre`),
  UNIQUE KEY `nombre_24` (`nombre`),
  UNIQUE KEY `nombre_25` (`nombre`),
  UNIQUE KEY `nombre_26` (`nombre`),
  UNIQUE KEY `nombre_27` (`nombre`),
  UNIQUE KEY `nombre_28` (`nombre`),
  UNIQUE KEY `nombre_29` (`nombre`),
  UNIQUE KEY `nombre_30` (`nombre`),
  UNIQUE KEY `nombre_31` (`nombre`),
  UNIQUE KEY `nombre_32` (`nombre`),
  UNIQUE KEY `nombre_33` (`nombre`),
  UNIQUE KEY `nombre_34` (`nombre`),
  UNIQUE KEY `nombre_35` (`nombre`),
  UNIQUE KEY `nombre_36` (`nombre`),
  UNIQUE KEY `nombre_37` (`nombre`),
  UNIQUE KEY `nombre_38` (`nombre`),
  UNIQUE KEY `nombre_39` (`nombre`),
  UNIQUE KEY `nombre_40` (`nombre`),
  UNIQUE KEY `nombre_41` (`nombre`),
  UNIQUE KEY `nombre_42` (`nombre`),
  UNIQUE KEY `nombre_43` (`nombre`),
  UNIQUE KEY `nombre_44` (`nombre`),
  UNIQUE KEY `nombre_45` (`nombre`),
  UNIQUE KEY `nombre_46` (`nombre`),
  UNIQUE KEY `nombre_47` (`nombre`),
  UNIQUE KEY `nombre_48` (`nombre`),
  UNIQUE KEY `nombre_49` (`nombre`),
  UNIQUE KEY `nombre_50` (`nombre`),
  UNIQUE KEY `nombre_51` (`nombre`),
  UNIQUE KEY `nombre_52` (`nombre`),
  UNIQUE KEY `nombre_53` (`nombre`),
  UNIQUE KEY `nombre_54` (`nombre`),
  UNIQUE KEY `nombre_55` (`nombre`),
  UNIQUE KEY `nombre_56` (`nombre`),
  UNIQUE KEY `nombre_57` (`nombre`),
  UNIQUE KEY `nombre_58` (`nombre`),
  UNIQUE KEY `nombre_59` (`nombre`),
  UNIQUE KEY `nombre_60` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categoriaproducto`
--

LOCK TABLES `categoriaproducto` WRITE;
/*!40000 ALTER TABLE `categoriaproducto` DISABLE KEYS */;
/*!40000 ALTER TABLE `categoriaproducto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cliente`
--

DROP TABLE IF EXISTS `cliente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cliente` (
  `idCliente` int(11) NOT NULL AUTO_INCREMENT,
  `direccion` varchar(255) DEFAULT NULL,
  `idUsuario` int(11) DEFAULT NULL,
  PRIMARY KEY (`idCliente`),
  UNIQUE KEY `UK_Cliente_Usuario` (`idUsuario`),
  KEY `IDX_ClienteUsuario` (`idUsuario`),
  CONSTRAINT `cliente_ibfk_1` FOREIGN KEY (`idUsuario`) REFERENCES `usuario` (`idUsuario`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cliente`
--

LOCK TABLES `cliente` WRITE;
/*!40000 ALTER TABLE `cliente` DISABLE KEYS */;
/*!40000 ALTER TABLE `cliente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `compra`
--

DROP TABLE IF EXISTS `compra`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `compra` (
  `idCompra` int(11) NOT NULL AUTO_INCREMENT,
  `idProveedor` int(11) DEFAULT NULL,
  `fechaCompra` datetime DEFAULT NULL,
  `total` decimal(12,2) NOT NULL,
  `estado` enum('PENDIENTE','RECIBIDA','CANCELADA') DEFAULT 'RECIBIDA',
  `motivoCancelacion` varchar(500) DEFAULT NULL,
  `detallesCancelacion` text DEFAULT NULL,
  `usuarioCancelacionId` int(11) DEFAULT NULL,
  `fechaCancelacion` datetime DEFAULT NULL,
  PRIMARY KEY (`idCompra`),
  KEY `IDX_CompraProveedor` (`idProveedor`),
  CONSTRAINT `compra_ibfk_1` FOREIGN KEY (`idProveedor`) REFERENCES `proveedor` (`idProveedor`) ON DELETE NO ACTION ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `compra`
--

LOCK TABLES `compra` WRITE;
/*!40000 ALTER TABLE `compra` DISABLE KEYS */;
INSERT INTO `compra` VALUES (1,1,'2026-08-10 00:00:00',1.00,'PENDIENTE',NULL,NULL,NULL,NULL),(2,1,'2026-08-25 00:00:00',100000.00,'PENDIENTE',NULL,NULL,NULL,NULL),(3,7,'2026-09-17 00:00:00',200000.00,'RECIBIDA',NULL,NULL,NULL,NULL),(4,7,'2026-09-17 00:00:00',200000.00,'PENDIENTE',NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `compra` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `descuento`
--

DROP TABLE IF EXISTS `descuento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `descuento` (
  `idDescuento` int(11) NOT NULL AUTO_INCREMENT,
  `idEvento` int(11) NOT NULL,
  `nombreDescuento` varchar(120) NOT NULL,
  `tipoDescuento` enum('PORCENTAJE','VALOR FIJO') NOT NULL,
  `porcentaje` decimal(5,2) DEFAULT NULL,
  `valorFijo` decimal(10,2) DEFAULT NULL,
  `estado` tinyint(4) DEFAULT 1,
  PRIMARY KEY (`idDescuento`),
  KEY `IDX_DescuentoEvento` (`idEvento`),
  CONSTRAINT `descuento_ibfk_1` FOREIGN KEY (`idEvento`) REFERENCES `evento` (`idEvento`) ON DELETE NO ACTION ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `descuento`
--

LOCK TABLES `descuento` WRITE;
/*!40000 ALTER TABLE `descuento` DISABLE KEYS */;
INSERT INTO `descuento` VALUES (1,2,'2x1 Jueves Burger','PORCENTAJE',50.00,NULL,1),(2,3,'15% Descuento Finde','PORCENTAJE',15.00,NULL,1),(3,4,'Combo Pareja Promo','VALOR FIJO',NULL,4000.00,1);
/*!40000 ALTER TABLE `descuento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detallecomprainsumo`
--

DROP TABLE IF EXISTS `detallecomprainsumo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `detallecomprainsumo` (
  `idDetalleCompra` int(11) NOT NULL AUTO_INCREMENT,
  `idCompra` int(11) NOT NULL,
  `idInsumo` int(11) NOT NULL,
  `cantidad` decimal(10,2) NOT NULL,
  `precioUnitario` decimal(10,2) NOT NULL,
  `subtotal` decimal(12,2) NOT NULL,
  `lotes` text DEFAULT NULL,
  `numeroLote` varchar(100) DEFAULT NULL,
  `fechaVencimiento` date DEFAULT NULL,
  PRIMARY KEY (`idDetalleCompra`),
  KEY `IDX_DetalleCompra` (`idCompra`),
  KEY `IDX_DetalleCompraInsumo` (`idInsumo`),
  CONSTRAINT `detallecomprainsumo_ibfk_115` FOREIGN KEY (`idCompra`) REFERENCES `compra` (`idCompra`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `detallecomprainsumo_ibfk_116` FOREIGN KEY (`idInsumo`) REFERENCES `insumo` (`idInsumo`) ON DELETE NO ACTION ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detallecomprainsumo`
--

LOCK TABLES `detallecomprainsumo` WRITE;
/*!40000 ALTER TABLE `detallecomprainsumo` DISABLE KEYS */;
INSERT INTO `detallecomprainsumo` VALUES (1,1,3,10.00,0.10,1.00,NULL,NULL,NULL),(2,2,1,100.00,1000.00,100000.00,NULL,NULL,NULL),(3,3,46,100.00,2000.00,200000.00,NULL,NULL,NULL),(4,4,46,100.00,2000.00,200000.00,NULL,NULL,NULL);
/*!40000 ALTER TABLE `detallecomprainsumo` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_EntradaInventario` AFTER INSERT ON `detallecomprainsumo` FOR EACH ROW BEGIN

    UPDATE insumo
    SET stock = stock + NEW.cantidad
    WHERE idInsumo = NEW.idInsumo;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `detallefichainsumo`
--

DROP TABLE IF EXISTS `detallefichainsumo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `detallefichainsumo` (
  `idDetalleFicha` int(11) NOT NULL AUTO_INCREMENT,
  `idFichaTecnica` int(11) NOT NULL,
  `idInsumo` int(11) NOT NULL,
  `cantidad` decimal(10,2) NOT NULL,
  `unidadMedida` varchar(30) DEFAULT NULL,
  PRIMARY KEY (`idDetalleFicha`),
  KEY `IDX_DetalleFichaTecnica` (`idFichaTecnica`),
  KEY `IDX_DetalleFichaInsumo` (`idInsumo`),
  CONSTRAINT `detallefichainsumo_ibfk_115` FOREIGN KEY (`idFichaTecnica`) REFERENCES `fichatecnica` (`idFichaTecnica`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `detallefichainsumo_ibfk_116` FOREIGN KEY (`idInsumo`) REFERENCES `insumo` (`idInsumo`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=281 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detallefichainsumo`
--

LOCK TABLES `detallefichainsumo` WRITE;
/*!40000 ALTER TABLE `detallefichainsumo` DISABLE KEYS */;
/*!40000 ALTER TABLE `detallefichainsumo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detalleinsumopreparadoinsumo`
--

DROP TABLE IF EXISTS `detalleinsumopreparadoinsumo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `detalleinsumopreparadoinsumo` (
  `idDetalle` int(11) NOT NULL AUTO_INCREMENT,
  `idPreparado` int(11) NOT NULL,
  `idInsumo` int(11) NOT NULL,
  `cantidad` decimal(10,2) DEFAULT NULL,
  `unidadMedida` varchar(255) DEFAULT NULL,
  `precioUnitario` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`idDetalle`),
  KEY `fk_detalle_preparado` (`idPreparado`),
  KEY `fk_detalle_insumo_normal` (`idInsumo`),
  CONSTRAINT `detalleinsumopreparadoinsumo_ibfk_119` FOREIGN KEY (`idPreparado`) REFERENCES `insumopreparado` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `detalleinsumopreparadoinsumo_ibfk_120` FOREIGN KEY (`idInsumo`) REFERENCES `insumo` (`idInsumo`) ON DELETE NO ACTION ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=65 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detalleinsumopreparadoinsumo`
--

LOCK TABLES `detalleinsumopreparadoinsumo` WRITE;
/*!40000 ALTER TABLE `detalleinsumopreparadoinsumo` DISABLE KEYS */;
INSERT INTO `detalleinsumopreparadoinsumo` VALUES (37,1,2,1.00,'paq',800.00),(60,7,28,0.60,'kg',13800.00),(61,7,26,0.25,'kg',12500.00),(62,7,27,0.15,'kg',11500.00),(63,8,24,1.00,'kg',3900.00),(64,9,14,1.50,'kg',28000.00);
/*!40000 ALTER TABLE `detalleinsumopreparadoinsumo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detalleventaadicion`
--

DROP TABLE IF EXISTS `detalleventaadicion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `detalleventaadicion` (
  `idDetalleVentaAdicion` int(11) NOT NULL AUTO_INCREMENT,
  `idDetalleVenta` int(11) NOT NULL,
  `idAdicion` int(11) NOT NULL,
  `cantidad` int(11) DEFAULT 1,
  `precio` decimal(10,2) NOT NULL,
  `subtotal` decimal(12,2) NOT NULL,
  PRIMARY KEY (`idDetalleVentaAdicion`),
  KEY `IDX_DetalleVentaAdicion` (`idDetalleVenta`),
  KEY `IDX_Adicion` (`idAdicion`),
  CONSTRAINT `detalleventaadicion_ibfk_115` FOREIGN KEY (`idDetalleVenta`) REFERENCES `detalleventaproducto` (`idDetalleVenta`) ON DELETE NO ACTION ON UPDATE CASCADE,
  CONSTRAINT `fk_detalleventaadicion_insumo` FOREIGN KEY (`idAdicion`) REFERENCES `insumo` (`idInsumo`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_dva_insumo` FOREIGN KEY (`idAdicion`) REFERENCES `insumo` (`idInsumo`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detalleventaadicion`
--

LOCK TABLES `detalleventaadicion` WRITE;
/*!40000 ALTER TABLE `detalleventaadicion` DISABLE KEYS */;
INSERT INTO `detalleventaadicion` VALUES (8,127,18,1,3500.00,3500.00);
/*!40000 ALTER TABLE `detalleventaadicion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detalleventaproducto`
--

DROP TABLE IF EXISTS `detalleventaproducto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `detalleventaproducto` (
  `idDetalleVenta` int(11) NOT NULL AUTO_INCREMENT,
  `idVenta` int(11) NOT NULL,
  `idVariante` int(11) NOT NULL,
  `cantidad` int(11) NOT NULL DEFAULT 1,
  `precioUnitario` decimal(10,2) NOT NULL,
  `subtotal` decimal(12,2) NOT NULL,
  `observaciones` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`idDetalleVenta`),
  KEY `IDX_DetalleVenta` (`idVenta`),
  KEY `IDX_DetalleVentaVariante` (`idVariante`),
  CONSTRAINT `detalleventaproducto_ibfk_119` FOREIGN KEY (`idVenta`) REFERENCES `venta` (`idVenta`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `detalleventaproducto_ibfk_120` FOREIGN KEY (`idVariante`) REFERENCES `variante` (`idVariante`) ON DELETE NO ACTION ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=134 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detalleventaproducto`
--

LOCK TABLES `detalleventaproducto` WRITE;
/*!40000 ALTER TABLE `detalleventaproducto` DISABLE KEYS */;
INSERT INTO `detalleventaproducto` VALUES (126,117,10,1,18000.00,18000.00,'Hamburguesa Cl├ísica Chazin'),(127,118,10,2,18000.00,36000.00,'Hamburguesa Cl├ísica Chazin'),(128,119,56,1,20000.00,20000.00,'tester'),(129,119,56,1,20000.00,20000.00,'tester'),(130,120,56,1,20000.00,20000.00,'tester'),(131,121,56,3,20000.00,60000.00,'tester'),(132,122,10,1,18000.00,18000.00,'­ƒöÑ ┬íPROMO 2x1!: Preparar 2 unidades (1 pagada + 1 gratis)'),(133,122,11,1,20000.00,20000.00,'Doble Carne 300g');
/*!40000 ALTER TABLE `detalleventaproducto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `devolucion`
--

DROP TABLE IF EXISTS `devolucion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `devolucion` (
  `idDevolucion` int(11) NOT NULL AUTO_INCREMENT,
  `idVenta` int(11) NOT NULL,
  `motivo` varchar(255) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `valorDevuelto` decimal(12,2) DEFAULT NULL,
  `fecha` datetime DEFAULT NULL,
  `estado` enum('PENDIENTE','ACEPTADA','RECHAZADA') DEFAULT 'PENDIENTE',
  PRIMARY KEY (`idDevolucion`),
  KEY `IDX_DevolucionVenta` (`idVenta`),
  CONSTRAINT `devolucion_ibfk_1` FOREIGN KEY (`idVenta`) REFERENCES `venta` (`idVenta`) ON DELETE NO ACTION ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `devolucion`
--

LOCK TABLES `devolucion` WRITE;
/*!40000 ALTER TABLE `devolucion` DISABLE KEYS */;
/*!40000 ALTER TABLE `devolucion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `evento`
--

DROP TABLE IF EXISTS `evento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `evento` (
  `idEvento` int(11) NOT NULL AUTO_INCREMENT,
  `nombreEvento` varchar(120) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `fechaInicio` date DEFAULT NULL,
  `fechaFin` date DEFAULT NULL,
  `estado` tinyint(4) DEFAULT 1,
  `idProducto` int(11) DEFAULT NULL,
  `tipoEvento` varchar(50) DEFAULT NULL,
  `descuento` decimal(10,2) DEFAULT NULL,
  `nuevoPrecio` decimal(10,2) DEFAULT NULL,
  `accionInsumo` varchar(20) DEFAULT NULL,
  `insumosAsociados` text DEFAULT NULL,
  `productosAsociados` text DEFAULT NULL,
  `icono` varchar(50) DEFAULT NULL,
  `imagen` varchar(500) DEFAULT NULL,
  PRIMARY KEY (`idEvento`),
  KEY `idProducto` (`idProducto`),
  CONSTRAINT `evento_ibfk_1` FOREIGN KEY (`idProducto`) REFERENCES `producto` (`idProducto`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `evento`
--

LOCK TABLES `evento` WRITE;
/*!40000 ALTER TABLE `evento` DISABLE KEYS */;
/*!40000 ALTER TABLE `evento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fichatecnica`
--

DROP TABLE IF EXISTS `fichatecnica`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `fichatecnica` (
  `idFichaTecnica` int(11) NOT NULL AUTO_INCREMENT,
  `idVariante` int(11) DEFAULT NULL,
  `descripcion` text DEFAULT NULL,
  `fechaCreacion` datetime DEFAULT NULL,
  `idProducto` int(11) DEFAULT NULL,
  `idInsumo` int(11) DEFAULT NULL,
  `tipo` varchar(20) DEFAULT 'PRODUCTO',
  `procedimiento` text DEFAULT NULL,
  `tiempoPreparacion` int(11) DEFAULT 0,
  `rendimiento` varchar(100) DEFAULT NULL,
  `especificaciones` text DEFAULT NULL,
  `caracteristicas` text DEFAULT NULL,
  `informacionNutricional` text DEFAULT NULL,
  `condicionesAlmacenamiento` text DEFAULT NULL,
  `vidaUtil` varchar(100) DEFAULT NULL,
  `observaciones` text DEFAULT NULL,
  `estado` tinyint(4) DEFAULT 1,
  PRIMARY KEY (`idFichaTecnica`),
  KEY `IDX_FichaTecnicaVariante` (`idVariante`),
  KEY `idProducto` (`idProducto`),
  KEY `idInsumo` (`idInsumo`),
  CONSTRAINT `fichatecnica_ibfk_177` FOREIGN KEY (`idVariante`) REFERENCES `variante` (`idVariante`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fichatecnica_ibfk_178` FOREIGN KEY (`idProducto`) REFERENCES `producto` (`idProducto`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fichatecnica_ibfk_179` FOREIGN KEY (`idInsumo`) REFERENCES `insumo` (`idInsumo`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=42 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fichatecnica`
--

LOCK TABLES `fichatecnica` WRITE;
/*!40000 ALTER TABLE `fichatecnica` DISABLE KEYS */;
/*!40000 ALTER TABLE `fichatecnica` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `insumo`
--

DROP TABLE IF EXISTS `insumo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `insumo` (
  `idInsumo` int(11) NOT NULL AUTO_INCREMENT,
  `idCategoriaInsumo` int(11) DEFAULT NULL,
  `nombre` varchar(255) NOT NULL,
  `unidadMedida` varchar(255) DEFAULT NULL,
  `stock` decimal(10,2) DEFAULT 0.00,
  `stockMinimo` decimal(10,2) DEFAULT 0.00,
  `fechaExpedicion` date DEFAULT NULL,
  `fechaVencimiento` date DEFAULT NULL,
  `estado` tinyint(4) DEFAULT 1,
  `esAdicion` tinyint(1) NOT NULL DEFAULT 0,
  `precioAdicion` decimal(10,2) NOT NULL DEFAULT 0.00,
  `imagen` varchar(255) DEFAULT NULL,
  `eliminado` tinyint(4) NOT NULL DEFAULT 0,
  `precioUnitario` decimal(10,2) DEFAULT 0.00,
  `idProveedor` int(11) DEFAULT NULL,
  `descripcion` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`idInsumo`),
  KEY `IDX_InsumoCategoria` (`idCategoriaInsumo`),
  KEY `idProveedor` (`idProveedor`),
  CONSTRAINT `insumo_ibfk_119` FOREIGN KEY (`idCategoriaInsumo`) REFERENCES `categoriainsumo` (`idCategoriaInsumo`) ON DELETE NO ACTION ON UPDATE CASCADE,
  CONSTRAINT `insumo_ibfk_120` FOREIGN KEY (`idProveedor`) REFERENCES `proveedor` (`idProveedor`) ON DELETE NO ACTION ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=47 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `insumo`
--

LOCK TABLES `insumo` WRITE;
/*!40000 ALTER TABLE `insumo` DISABLE KEYS */;
/*!40000 ALTER TABLE `insumo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `insumopreparado`
--

DROP TABLE IF EXISTS `insumopreparado`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `insumopreparado` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `descripcion` varchar(255) DEFAULT NULL,
  `precioVenta` decimal(10,2) DEFAULT 0.00,
  `unidadMedida` varchar(20) DEFAULT 'und',
  `fechaCreacion` datetime DEFAULT NULL,
  `estado` tinyint(4) DEFAULT 1,
  `eliminado` tinyint(4) NOT NULL DEFAULT 0,
  `rendimiento` decimal(10,2) DEFAULT 1.00,
  `unidadRendimiento` varchar(255) DEFAULT 'und',
  `costoTotal` decimal(10,2) DEFAULT 0.00,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `insumopreparado`
--

LOCK TABLES `insumopreparado` WRITE;
/*!40000 ALTER TABLE `insumopreparado` DISABLE KEYS */;
/*!40000 ALTER TABLE `insumopreparado` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `loteinsumo`
--

DROP TABLE IF EXISTS `loteinsumo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `loteinsumo` (
  `idLote` int(11) NOT NULL AUTO_INCREMENT,
  `idInsumo` int(11) NOT NULL,
  `idCompra` int(11) DEFAULT NULL,
  `numeroLote` varchar(100) NOT NULL,
  `cantidad` decimal(10,2) NOT NULL DEFAULT 0.00,
  `cantidadDisponible` decimal(10,2) NOT NULL DEFAULT 0.00,
  `fechaVencimiento` date DEFAULT NULL,
  `fechaCreacion` datetime DEFAULT current_timestamp(),
  `estado` varchar(30) DEFAULT 'ACTIVO',
  PRIMARY KEY (`idLote`),
  KEY `idx_lote_insumo` (`idInsumo`),
  KEY `idx_lote_compra` (`idCompra`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `loteinsumo`
--

LOCK TABLES `loteinsumo` WRITE;
/*!40000 ALTER TABLE `loteinsumo` DISABLE KEYS */;
/*!40000 ALTER TABLE `loteinsumo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pago`
--

DROP TABLE IF EXISTS `pago`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pago` (
  `idPago` int(11) NOT NULL AUTO_INCREMENT,
  `idVenta` int(11) NOT NULL,
  `metodoPago` enum('EFECTIVO','TARJETA','NEQUI','DAVIPLATA','TRANSFERENCIA') NOT NULL,
  `referenciaExterna` varchar(120) DEFAULT NULL,
  `monto` decimal(12,2) NOT NULL,
  `fechaPago` datetime DEFAULT NULL,
  `estado` enum('PENDIENTE','APROBADO','RECHAZADO') DEFAULT 'APROBADO',
  PRIMARY KEY (`idPago`),
  KEY `IDX_PagoVenta` (`idVenta`),
  CONSTRAINT `pago_ibfk_1` FOREIGN KEY (`idVenta`) REFERENCES `venta` (`idVenta`) ON DELETE NO ACTION ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pago`
--

LOCK TABLES `pago` WRITE;
/*!40000 ALTER TABLE `pago` DISABLE KEYS */;
/*!40000 ALTER TABLE `pago` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pedido`
--

DROP TABLE IF EXISTS `pedido`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pedido` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `clienteId` int(11) DEFAULT NULL,
  `items` text DEFAULT NULL,
  `total` decimal(10,2) NOT NULL,
  `estado` varchar(255) DEFAULT 'pendiente',
  `metodoPago` varchar(255) DEFAULT 'efectivo',
  `fechaCreacion` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `clienteId` (`clienteId`),
  CONSTRAINT `pedido_ibfk_1` FOREIGN KEY (`clienteId`) REFERENCES `cliente` (`idCliente`) ON DELETE NO ACTION ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pedido`
--

LOCK TABLES `pedido` WRITE;
/*!40000 ALTER TABLE `pedido` DISABLE KEYS */;
/*!40000 ALTER TABLE `pedido` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permiso`
--

DROP TABLE IF EXISTS `permiso`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `permiso` (
  `idPermiso` int(11) NOT NULL AUTO_INCREMENT,
  `nombrePermiso` varchar(255) NOT NULL,
  PRIMARY KEY (`idPermiso`),
  UNIQUE KEY `UK_Permiso` (`nombrePermiso`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permiso`
--

LOCK TABLES `permiso` WRITE;
/*!40000 ALTER TABLE `permiso` DISABLE KEYS */;
INSERT INTO `permiso` VALUES (3,'Categor├¡a Insumos'),(8,'Categor├¡a Productos'),(13,'Clientes'),(2,'Compras'),(16,'Configuraci├│n'),(1,'Dashboard'),(10,'Fichas T├®cnicas'),(6,'Gesti├│n de Compras'),(11,'Gesti├│n de Producci├│n'),(14,'Gesti├│n de Ventas'),(4,'Insumos'),(7,'Producci├│n'),(9,'Productos'),(5,'Proveedores'),(15,'Punto de Venta'),(18,'Roles'),(17,'Usuarios'),(19,'Vendedor'),(12,'Ventas');
/*!40000 ALTER TABLE `permiso` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `producto`
--

DROP TABLE IF EXISTS `producto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `producto` (
  `idProducto` int(11) NOT NULL AUTO_INCREMENT,
  `idCategoriaProducto` int(11) NOT NULL,
  `nombre` varchar(120) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `imagen` varchar(255) DEFAULT NULL,
  `estado` tinyint(4) DEFAULT 1,
  `precio` decimal(10,2) DEFAULT 0.00,
  `categoria` varchar(100) DEFAULT NULL,
  `adiciones` text DEFAULT NULL,
  `configuracionCombo` text DEFAULT NULL,
  PRIMARY KEY (`idProducto`),
  KEY `IDX_ProductoCategoria` (`idCategoriaProducto`),
  CONSTRAINT `producto_ibfk_1` FOREIGN KEY (`idCategoriaProducto`) REFERENCES `categoriaproducto` (`idCategoriaProducto`) ON DELETE NO ACTION ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=39 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `producto`
--

LOCK TABLES `producto` WRITE;
/*!40000 ALTER TABLE `producto` DISABLE KEYS */;
/*!40000 ALTER TABLE `producto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `proveedor`
--

DROP TABLE IF EXISTS `proveedor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `proveedor` (
  `idProveedor` int(11) NOT NULL AUTO_INCREMENT,
  `idTipoProveedor` int(11) NOT NULL,
  `idTipoDocumento` int(11) NOT NULL,
  `nombre` varchar(255) NOT NULL,
  `numeroDocumento` varchar(255) DEFAULT NULL,
  `telefono` varchar(255) DEFAULT NULL,
  `correo` varchar(255) DEFAULT NULL,
  `direccion` varchar(255) DEFAULT NULL,
  `estado` tinyint(4) DEFAULT 1,
  `nombreContacto` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`idProveedor`),
  KEY `IDX_ProveedorTipo` (`idTipoProveedor`),
  KEY `IDX_ProveedorDocumento` (`idTipoDocumento`),
  CONSTRAINT `proveedor_ibfk_121` FOREIGN KEY (`idTipoProveedor`) REFERENCES `tipoproveedor` (`idTipoProveedor`) ON DELETE NO ACTION ON UPDATE CASCADE,
  CONSTRAINT `proveedor_ibfk_122` FOREIGN KEY (`idTipoDocumento`) REFERENCES `tipodocumento` (`idTipoDocumento`) ON DELETE NO ACTION ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `proveedor`
--

LOCK TABLES `proveedor` WRITE;
/*!40000 ALTER TABLE `proveedor` DISABLE KEYS */;
/*!40000 ALTER TABLE `proveedor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `resena`
--

DROP TABLE IF EXISTS `resena`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `resena` (
  `idResena` int(11) NOT NULL AUTO_INCREMENT,
  `idProducto` int(11) NOT NULL,
  `idUsuario` int(11) NOT NULL,
  `puntuacion` tinyint(4) NOT NULL DEFAULT 5,
  `comentario` text DEFAULT NULL,
  `fechaResena` datetime DEFAULT current_timestamp(),
  `estado` tinyint(4) DEFAULT 1,
  PRIMARY KEY (`idResena`),
  KEY `idx_resena_producto` (`idProducto`),
  KEY `idx_resena_usuario` (`idUsuario`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `resena`
--

LOCK TABLES `resena` WRITE;
/*!40000 ALTER TABLE `resena` DISABLE KEYS */;
/*!40000 ALTER TABLE `resena` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rol`
--

DROP TABLE IF EXISTS `rol`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rol` (
  `idRol` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `descripcion` varchar(255) DEFAULT NULL,
  `estado` tinyint(4) DEFAULT 1,
  PRIMARY KEY (`idRol`),
  UNIQUE KEY `UK_Rol_Nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rol`
--

LOCK TABLES `rol` WRITE;
/*!40000 ALTER TABLE `rol` DISABLE KEYS */;
INSERT INTO `rol` VALUES (1,'Administrador','Acceso total',1),(2,'Cocinero','Acceso a producci├│n y fichas t├®cnicas',1),(3,'Vendedor','M├│dulo de Punto de Venta y Gesti├│n Comercial',1),(4,'Cliente','Acceso b├ísico para realizar pedidos',1),(5,'Cajero Especial','Atenci├│n a mostrar y cobros',0);
/*!40000 ALTER TABLE `rol` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rolpermiso`
--

DROP TABLE IF EXISTS `rolpermiso`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rolpermiso` (
  `idRolPermiso` int(11) NOT NULL AUTO_INCREMENT,
  `idRol` int(11) NOT NULL,
  `idPermiso` int(11) NOT NULL,
  PRIMARY KEY (`idRolPermiso`),
  UNIQUE KEY `UK_Rol_Permiso` (`idRol`,`idPermiso`),
  KEY `IDX_RolPermisoRol` (`idRol`),
  KEY `IDX_RolPermisoPermiso` (`idPermiso`),
  CONSTRAINT `rolpermiso_ibfk_167` FOREIGN KEY (`idRol`) REFERENCES `rol` (`idRol`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `rolpermiso_ibfk_168` FOREIGN KEY (`idPermiso`) REFERENCES `permiso` (`idPermiso`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=71 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rolpermiso`
--

LOCK TABLES `rolpermiso` WRITE;
/*!40000 ALTER TABLE `rolpermiso` DISABLE KEYS */;
INSERT INTO `rolpermiso` VALUES (6,1,1),(4,1,2),(1,1,3),(11,1,4),(14,1,5),(8,1,6),(12,1,7),(2,1,8),(13,1,9),(7,1,10),(9,1,11),(18,1,12),(3,1,13),(10,1,14),(15,1,15),(5,1,16),(17,1,17),(16,1,18),(47,2,1),(48,2,2),(49,2,3),(58,3,8),(61,3,9),(64,3,12),(59,3,13),(60,3,14),(62,3,15),(63,3,19),(69,5,12),(70,5,14),(68,5,15);
/*!40000 ALTER TABLE `rolpermiso` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipodocumento`
--

DROP TABLE IF EXISTS `tipodocumento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tipodocumento` (
  `idTipoDocumento` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  PRIMARY KEY (`idTipoDocumento`),
  UNIQUE KEY `UK_TipoDocumento` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipodocumento`
--

LOCK TABLES `tipodocumento` WRITE;
/*!40000 ALTER TABLE `tipodocumento` DISABLE KEYS */;
INSERT INTO `tipodocumento` VALUES (1,'CC'),(2,'CE'),(3,'NIT'),(4,'Pasaporte');
/*!40000 ALTER TABLE `tipodocumento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipoproveedor`
--

DROP TABLE IF EXISTS `tipoproveedor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tipoproveedor` (
  `idTipoProveedor` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  PRIMARY KEY (`idTipoProveedor`),
  UNIQUE KEY `UK_TipoProveedor` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipoproveedor`
--

LOCK TABLES `tipoproveedor` WRITE;
/*!40000 ALTER TABLE `tipoproveedor` DISABLE KEYS */;
INSERT INTO `tipoproveedor` VALUES (2,'Distribuidor'),(3,'Fabricante'),(1,'Mayorista');
/*!40000 ALTER TABLE `tipoproveedor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trazabilidad`
--

DROP TABLE IF EXISTS `trazabilidad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `trazabilidad` (
  `idTrazabilidad` int(11) NOT NULL AUTO_INCREMENT,
  `tipo` varchar(50) DEFAULT NULL,
  `entidadNombre` varchar(150) DEFAULT NULL,
  `detalle` varchar(255) DEFAULT NULL,
  `leido` tinyint(4) DEFAULT 0,
  `fecha` datetime DEFAULT NULL,
  `idInsumo` int(11) DEFAULT NULL,
  `tipoMovimiento` varchar(50) DEFAULT NULL,
  `cantidad` decimal(10,2) DEFAULT NULL,
  `motivo` varchar(255) DEFAULT NULL,
  `usuarioId` int(11) DEFAULT NULL,
  PRIMARY KEY (`idTrazabilidad`),
  KEY `idInsumo` (`idInsumo`),
  KEY `usuarioId` (`usuarioId`),
  CONSTRAINT `trazabilidad_ibfk_119` FOREIGN KEY (`idInsumo`) REFERENCES `insumo` (`idInsumo`) ON DELETE NO ACTION ON UPDATE CASCADE,
  CONSTRAINT `trazabilidad_ibfk_120` FOREIGN KEY (`usuarioId`) REFERENCES `usuario` (`idUsuario`) ON DELETE NO ACTION ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=146 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trazabilidad`
--

LOCK TABLES `trazabilidad` WRITE;
/*!40000 ALTER TABLE `trazabilidad` DISABLE KEYS */;
/*!40000 ALTER TABLE `trazabilidad` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario`
--

DROP TABLE IF EXISTS `usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuario` (
  `idUsuario` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `apellidos` varchar(255) DEFAULT NULL,
  `tipoDocumento` varchar(255) DEFAULT NULL,
  `numeroDocumento` varchar(50) DEFAULT NULL,
  `telefono` varchar(255) DEFAULT NULL,
  `email` varchar(255) NOT NULL,
  `contrasena` varchar(255) NOT NULL,
  `estado` varchar(255) DEFAULT 'ACTIVO',
  `fechaRegistro` datetime DEFAULT NULL,
  `idRol` int(11) NOT NULL,
  `foto` text DEFAULT NULL,
  PRIMARY KEY (`idUsuario`),
  UNIQUE KEY `UK_Usuario_Email` (`email`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `email_2` (`email`),
  UNIQUE KEY `email_3` (`email`),
  UNIQUE KEY `email_4` (`email`),
  UNIQUE KEY `email_5` (`email`),
  UNIQUE KEY `email_6` (`email`),
  UNIQUE KEY `email_7` (`email`),
  UNIQUE KEY `email_8` (`email`),
  UNIQUE KEY `email_9` (`email`),
  UNIQUE KEY `email_10` (`email`),
  UNIQUE KEY `email_11` (`email`),
  UNIQUE KEY `email_12` (`email`),
  UNIQUE KEY `email_13` (`email`),
  UNIQUE KEY `email_14` (`email`),
  UNIQUE KEY `email_15` (`email`),
  UNIQUE KEY `email_16` (`email`),
  UNIQUE KEY `email_17` (`email`),
  UNIQUE KEY `email_18` (`email`),
  UNIQUE KEY `email_19` (`email`),
  UNIQUE KEY `email_20` (`email`),
  UNIQUE KEY `email_21` (`email`),
  UNIQUE KEY `email_22` (`email`),
  UNIQUE KEY `email_23` (`email`),
  UNIQUE KEY `email_24` (`email`),
  UNIQUE KEY `email_25` (`email`),
  UNIQUE KEY `email_26` (`email`),
  UNIQUE KEY `email_27` (`email`),
  UNIQUE KEY `email_28` (`email`),
  UNIQUE KEY `email_29` (`email`),
  UNIQUE KEY `email_30` (`email`),
  UNIQUE KEY `email_31` (`email`),
  UNIQUE KEY `email_32` (`email`),
  UNIQUE KEY `email_33` (`email`),
  UNIQUE KEY `email_34` (`email`),
  UNIQUE KEY `email_35` (`email`),
  UNIQUE KEY `email_36` (`email`),
  UNIQUE KEY `email_37` (`email`),
  UNIQUE KEY `email_38` (`email`),
  UNIQUE KEY `email_39` (`email`),
  UNIQUE KEY `email_40` (`email`),
  UNIQUE KEY `email_41` (`email`),
  UNIQUE KEY `email_42` (`email`),
  UNIQUE KEY `email_43` (`email`),
  UNIQUE KEY `email_44` (`email`),
  UNIQUE KEY `email_45` (`email`),
  UNIQUE KEY `email_46` (`email`),
  UNIQUE KEY `email_47` (`email`),
  UNIQUE KEY `email_48` (`email`),
  UNIQUE KEY `email_49` (`email`),
  UNIQUE KEY `email_50` (`email`),
  UNIQUE KEY `email_51` (`email`),
  UNIQUE KEY `email_52` (`email`),
  UNIQUE KEY `email_53` (`email`),
  UNIQUE KEY `email_54` (`email`),
  UNIQUE KEY `email_55` (`email`),
  UNIQUE KEY `email_56` (`email`),
  UNIQUE KEY `email_57` (`email`),
  UNIQUE KEY `email_58` (`email`),
  UNIQUE KEY `email_59` (`email`),
  UNIQUE KEY `email_60` (`email`),
  UNIQUE KEY `email_61` (`email`),
  KEY `IDX_UsuarioRol` (`idRol`),
  CONSTRAINT `usuario_ibfk_1` FOREIGN KEY (`idRol`) REFERENCES `rol` (`idRol`) ON DELETE NO ACTION ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario`
--

LOCK TABLES `usuario` WRITE;
/*!40000 ALTER TABLE `usuario` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `variante`
--

DROP TABLE IF EXISTS `variante`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `variante` (
  `idVariante` int(11) NOT NULL AUTO_INCREMENT,
  `idProducto` int(11) NOT NULL,
  `nombre` varchar(80) NOT NULL,
  `precio` decimal(10,2) NOT NULL,
  `estado` tinyint(4) DEFAULT 1,
  `imagen` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`idVariante`),
  KEY `IDX_VarianteProducto` (`idProducto`),
  CONSTRAINT `variante_ibfk_1` FOREIGN KEY (`idProducto`) REFERENCES `producto` (`idProducto`) ON DELETE NO ACTION ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=57 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `variante`
--

LOCK TABLES `variante` WRITE;
/*!40000 ALTER TABLE `variante` DISABLE KEYS */;
/*!40000 ALTER TABLE `variante` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `venta`
--

DROP TABLE IF EXISTS `venta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `venta` (
  `idVenta` int(11) NOT NULL AUTO_INCREMENT,
  `idCliente` int(11) NOT NULL,
  `idUsuario` int(11) NOT NULL,
  `idDescuento` int(11) DEFAULT NULL,
  `fechaVenta` datetime DEFAULT NULL,
  `tipoVenta` varchar(50) DEFAULT 'PUNTO_DE_VENTA',
  `subtotal` decimal(12,2) NOT NULL,
  `descuentoAplicado` decimal(12,2) DEFAULT 0.00,
  `total` decimal(12,2) NOT NULL,
  `estadoEntrega` enum('PENDIENTE','PREPARANDO','LISTO','EN_CAMINO','ENTREGADO','CANCELADO') DEFAULT 'PENDIENTE',
  `observaciones` text DEFAULT NULL,
  `estadoAprobacion` enum('PENDIENTE','APROBADO','RECHAZADO') DEFAULT 'PENDIENTE',
  PRIMARY KEY (`idVenta`),
  KEY `IDX_VentaCliente` (`idCliente`),
  KEY `IDX_VentaUsuario` (`idUsuario`),
  KEY `IDX_VentaDescuento` (`idDescuento`),
  CONSTRAINT `venta_ibfk_178` FOREIGN KEY (`idCliente`) REFERENCES `cliente` (`idCliente`) ON DELETE NO ACTION ON UPDATE CASCADE,
  CONSTRAINT `venta_ibfk_179` FOREIGN KEY (`idUsuario`) REFERENCES `usuario` (`idUsuario`) ON DELETE NO ACTION ON UPDATE CASCADE,
  CONSTRAINT `venta_ibfk_180` FOREIGN KEY (`idDescuento`) REFERENCES `descuento` (`idDescuento`) ON DELETE NO ACTION ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=123 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `venta`
--

LOCK TABLES `venta` WRITE;
/*!40000 ALTER TABLE `venta` DISABLE KEYS */;
/*!40000 ALTER TABLE `venta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `vwinventario`
--

DROP TABLE IF EXISTS `vwinventario`;
/*!50001 DROP VIEW IF EXISTS `vwinventario`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `vwinventario` AS SELECT
 1 AS `idInsumo`,
  1 AS `nombre`,
  1 AS `Categoria`,
  1 AS `stock`,
  1 AS `stockMinimo`,
  1 AS `unidadMedida`,
  1 AS `fechaVencimiento` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `vwproductos`
--

DROP TABLE IF EXISTS `vwproductos`;
/*!50001 DROP VIEW IF EXISTS `vwproductos`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `vwproductos` AS SELECT
 1 AS `idProducto`,
  1 AS `nombre`,
  1 AS `Categoria`,
  1 AS `Variante`,
  1 AS `precio` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `vwventas`
--

DROP TABLE IF EXISTS `vwventas`;
/*!50001 DROP VIEW IF EXISTS `vwventas`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `vwventas` AS SELECT
 1 AS `idVenta`,
  1 AS `Cliente`,
  1 AS `fechaVenta`,
  1 AS `subtotal`,
  1 AS `descuentoAplicado`,
  1 AS `total`,
  1 AS `estadoEntrega` */;
SET character_set_client = @saved_cs_client;

--
-- Dumping routines for database 'chazinfood'
--
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `RegistrarCompra` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `RegistrarCompra`(IN `pProveedor` INT, IN `pTotal` DECIMAL(10,2))
BEGIN

INSERT INTO compra(

idProveedor,

fechaCompra,

total,

estado

)

VALUES(

pProveedor,

NOW(),

pTotal,

'RECIBIDA'

);

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `RegistrarVenta` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `RegistrarVenta`(IN `pCliente` INT, IN `pUsuario` INT, IN `pSubtotal` DECIMAL(10,2), IN `pDescuento` DECIMAL(10,2), IN `pTotal` DECIMAL(10,2))
BEGIN

INSERT INTO venta(

idCliente,

idUsuario,

fechaVenta,

subtotal,

descuentoAplicado,

total

)

VALUES(

pCliente,

pUsuario,

NOW(),

pSubtotal,

pDescuento,

pTotal

);

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Final view structure for view `vwinventario`
--

/*!50001 DROP VIEW IF EXISTS `vwinventario`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vwinventario` AS select `i`.`idInsumo` AS `idInsumo`,`i`.`nombre` AS `nombre`,`c`.`nombre` AS `Categoria`,`i`.`stock` AS `stock`,`i`.`stockMinimo` AS `stockMinimo`,`i`.`unidadMedida` AS `unidadMedida`,`i`.`fechaVencimiento` AS `fechaVencimiento` from (`insumo` `i` join `categoriainsumo` `c` on(`c`.`idCategoriaInsumo` = `i`.`idCategoriaInsumo`)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vwproductos`
--

/*!50001 DROP VIEW IF EXISTS `vwproductos`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vwproductos` AS select `p`.`idProducto` AS `idProducto`,`p`.`nombre` AS `nombre`,`cp`.`nombre` AS `Categoria`,`v`.`nombre` AS `Variante`,`v`.`precio` AS `precio` from ((`producto` `p` join `categoriaproducto` `cp` on(`cp`.`idCategoriaProducto` = `p`.`idCategoriaProducto`)) join `variante` `v` on(`v`.`idProducto` = `p`.`idProducto`)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vwventas`
--

/*!50001 DROP VIEW IF EXISTS `vwventas`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vwventas` AS select `v`.`idVenta` AS `idVenta`,concat(`u`.`nombre`,' ',`u`.`apellidos`) AS `Cliente`,`v`.`fechaVenta` AS `fechaVenta`,`v`.`subtotal` AS `subtotal`,`v`.`descuentoAplicado` AS `descuentoAplicado`,`v`.`total` AS `total`,`v`.`estadoEntrega` AS `estadoEntrega` from ((`venta` `v` join `cliente` `c` on(`c`.`idCliente` = `v`.`idCliente`)) join `usuario` `u` on(`u`.`idUsuario` = `c`.`idUsuario`)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-28 21:40:43
